In [1]:
import numpy as np
import pandas as pd

In [13]:
dict1={"":['united states','germany','great britain','russia','china','france','australia','italy','canada','japan'],
       "gold":[137,47,64,50,44,20,23,8,4,17],
       "silver":[52,43,55,28,30,55,34,38,4,13],
       "bronze":[67,67,26,35,35,21,25,24,61,34],    
}
df=pd.DataFrame(dict1)
df

                  gold  silver  bronze
0  united states   137      52      67
1        germany    47      43      67
2  great britain    64      55      26
3         russia    50      28      35
4          china    44      30      35
5         france    20      55      21
6      australia    23      34      25
7          italy     8      38      24
8         canada     4       4      61
9          japan    17      13      34

In [14]:
df.to_csv('medals_by_countries_2017.csv',index=False)